<!DOCTYPE html>
<html>
<title>MATRIXblock - Terms of Use</title>
<meta charset="utf-8" />
<pre>
By using this software, you agree to these Terms of Use.
Terms of Use content:

Introduction
KK INTELLIGENT TECHNOLOGY INC. and any and all entities that control, are controlled by, or are affiliated or under common control 
with are collectively referred to herein as “KKITC”, “we,” “us” or “our”.
By using any KKITC App or by clicking a box that states that you accept or agree to these terms, you signify your agreement to these 
Terms of Use. If you do not agree to these Terms of Use, you may not use the KKITC App. 
Without limiting the generality of the foregoing, you acknowledge that such consideration includes your use of the KKITC App and receipt
of data, materials and information available at or through the KKITC App.
You can contact us by writing a letter to 7F., No. 495, Guangfu S. Rd., Xinyi Dist., Taipei City 110007, Taiwan (R.O.C.),
or by contacting our Customer Service: https://www.matrixrobotics.com/pages/contact-us-2.

Processing of personal information 
Personal data is any information about a person from which that person can be identified. 
We may collect, use, store and transfer different kinds of personal data about you which we have grouped together as follows:
•Identity Data includes first name, last name, username or similar unique identifier, marital status, title, date of birth and gender.
•Contact Data includes billing address, delivery address, email address and telephone numbers or similar contact data.
•Financial Data includes bank account and payment card details.
•Transaction Data includes details about payments to and from you and other details of products and services you have purchased from us.
•Technical Data includes internet protocol (IP) address, your login data, browser type and version, time zone setting and location, 
browser plug-in types and versions, operating system and platform, user ID, MAC ID and other technology on the devices you use to 
access this website.
•Profile Data includes your username and password.
•Purchaser Data includes purchases or orders made by you, services requested, rewards or benefits requested or used, your interests, 
preferences, and feedback or survey responses.
•Usage Data includes information about how you use our website, products and services.
•Marketing and Communications Data includes your preferences in receiving marketing from us and our third parties, 
participate in sweepstakes and other prize competitions and your communication preferences.
•Tracking Data including data about what pages you visited prior to landing on our websites or where you traveled after visiting our 
website as well as how you interacted with emails or other messages sent to you by us (e.g. if you deleted or opened the email).

We also collect, use and share aggregated data such as statistical or demographic data for any purpose. aggregated data could be derived from your 
personal data but is not considered personal data because this data will not directly or indirectly reveal your identity. For example, we may 
aggregate your Usage Data to calculate the percentage of users accessing a specific website feature. However, if we combine or connect Aggregated 
Data with your personal data so that it can directly or indirectly identify you, we treat the combined data as personal data which will be used 
in accordance with this Privacy Policy.
If you fail to provide necessary personal data to us (we will let you know when this is the case, for example, by making this information clear 
in our registration forms), we may not be able to provide you with our goods and/or services.

Please see our category list of trusted third parties that we may share your information with here. 
We process personal data with third parties/vendors in the following categories:
•IT Service providers. We use a series of trusted partners worldwide to provide us with IT services and system administration 
services - in regard to both our customer and partner facing activities as well as our internal IT and administration systems.
•Global payment provider and processing partners. These help us to secure a safe and efficient payment process both online, 
in our stores or through invoicing or money transfers.
•Cloud storage partners. We store our and your data at secure data centers.
•Fraud prevention and detection partners and agencies. These work with the KKITC to secure that the KKITC is not defrauded.
•Warehousing, packing, shipping and delivery partners. These help us get our products into the hands of our customers and business 
partners.
•Catalogue printing, mailing and postal partners. These help us make sure catalogues, magazines or other printed marketing 
materials come your way.
•Data broker and data aggregator partners. These help us reach potential new shoppers with catalogues, magazines and other 
printed or online marketing and advertising. They also help us prevent that e.g. more than one KKITC catalogue comes your way 
at the same time.
•Marketing and advertising partners. These help us to be able to provide tailored advertisements, promotions, sweepstakes, 
contests and campaigns both when you are interacting with the KKITC on online platforms, on social media, instore or otherwise. 
They also help us find new potential shoppers to serve marketing messages (also called “look alike”) or help us better ensure 
that we do not serve a marketing message to shoppers who are not interested in the product or service in question (also called 
“suppression”).
•Social media partners and online search platforms. These help us to be present, allow you to interact with the KKITC Group on 
the platforms where you are, and allow us to provide tailored marketing of our products as well as provide us with an broader 
understanding of how our shoppers and consumers interact with us via these platforms and partners.
•Survey, questionnaires and product review suppliers. These help us get your all-important feedback of your KKITC experience.
•Tax and customs authorities, regulators and other authorities globally. These require reporting of processing activities in 
certain circumstances.
•Professional advisers. Including lawyers, bankers, auditors and insurers globally. These provide consultancy, banking, legal, 
insurance and accounting services to the KKITC.
•Gaming platform partners. These help us to be present, allow you to interact with the KKITC, and to link your KKITC Account 
with the gaming platform account where this functionality is available.

Any third parties acting on behalf of KKITC is bound by the same rules and principles as KKITC.

Use of content
All information, materials, functions and other content (“Content”) contained on the KKITC App are our copyrighted property or 
the copyrighted property of our licensors or licensees. All trademarks, service marks, trade names, and trade dresses are proprietary 
to us and/or our licensors or licensees. We may terminate your further access to the KKITC App or change the KKITC delete content or 
features in any way, at any time and for any reason or no reason.
You agree that you will not copy, distribute or reverse engineer the Content, or use the Content in any way except as integrated in 
or necessary for use of the Content.

Accounts
Some services of the KKITC will permit or require you to create an account to participate or to secure additional benefits.
We may suspend or terminate your ability to use any KKITC are portion thereof in case of failure to comply with said Terms and 
Conditions or any special terms related to a particular service.

App distributors/stores
You acknowledge that these terms of use are concluded between you and us only, and not with App. Distributers / stores e.g. Apple, Inc.,
Amazon, Samsung etc. (“App Distributors”). We, and not the App Distributers, are solely responsible for the KKITC App and the services 
and Content available thereon. The parties agree that the App Distributors have no obligation to provide maintenance and support services 
with respect to the KKITC App.
To the maximum extent permitted by applicable law, the App Distributors will have no warranty obligation whatsoever with respect to the 
KKITC App.
You agree that we, and not the App Distributors, are responsible for addressing any claims by you or any third party relating to the \
KKITC App or your possession and/or use of the KKITC App, including, but not limited to: (i) product liability claims; (ii) any claim 
that the KKITC App fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection
or similar legislation.
You agree that we, and not the App Distributors, are responsible for the investigation, defense, settlement and discharge of any third
party intellectual property infringement claim related to the KKITC App or your possession and use of the KKITC App.
You represent and warrant that (i) you are not located in a country that is subject to a Government of the Republic of China embargo, 
or that has been designated by the Government of the Republic of China as a “terrorist supporting” country; and (ii) you are not listed 
on any Government of the Republic of China list of prohibited or restricted parties.
You agree to comply with all applicable third party terms of agreement when using the KKITC App (e.g., you must not be in violation of 
your wireless data service terms of agreement when using the KKITC App).
The parties agree that the App Distributors and their subsidiaries are third party beneficiaries to these Terms of Use. Upon your 
acceptance of the Terms of Use, the App Distributors will have the right (and will be deemed to have accepted the right) to enforce 
the Terms of Use against you as a third party beneficiary thereof.
You agree that your use of the KKITC App is subject to the Usage Rules set forth in the App Distributors then-current Terms of Service 
for downloading apps through the App Distributor.

Indemnification
You are responsible for maintaining the confidentiality of your username(s), password(s), and your account(s), 
as well as all activities that occur under your account(s). To the extent possible under applicable law, you hereby agree 
to indemnify, defend, and hold us, our licensors, licensees, distributors, agents, representatives and other authorized users, 
and each of the foregoing entities' respective resellers, distributors, service providers and suppliers, and all of the 
foregoing entities' respective officers, directors, owners, employees, agents, representatives and assigns (collectively, the 
“Indemnified Parties”) harmless from and against any and all losses, damages, liabilities and costs (including settlement costs 
and any legal or other fees and expenses for investigating or defending any actions or threatened actions) incurred by the 
Indemnified Parties in connection with any claim arising out of any breach by you of these Terms of Use or claims arising 
from your use of the KKITC App and/or your account(s). You shall use your best efforts to cooperate with us in the defense 
of any claim. We reserve the right, at our own expense, to employ separate counsel and assume the exclusive defense and control
of any matter otherwise subject to indemnification by you.

Jurisdictional and venue issues
These Terms of Use are governed by and construed in accordance with the laws of Republic of China, without giving effect 
to any principles of conflicts of law. You agree that any action at law or in equity arising out of or relating to these 
terms of use or the KKITC App must be filed, and that venue properly lies, only in Republic of China, and you hereby consent 
and submit to the personal jurisdiction of such courts for the purposes of litigating any such action. Please note that 
mandatory laws may entitle you to file an action at law in other jurisdictions. We make no representation that Content on any 
KKITC App is appropriate or available for use in any particular location. Those who choose to access a KKITC App do so on 
their own initiative and are responsible for compliance with all applicable laws including any applicable local laws.

Amendment
At any time, we may amend these Terms of Use (including by modification, deletion and/or addition of any portion thereof). 
If we make a material amendment to these terms of use, we will notify you of such amendment by sending you an e-mail at the 
last e-mail address that you provided us, and/or by posting notice of such amendment on the web sites covered by these Terms 
of Use or via the relevant App store or the App itself. Any such amendment to these Terms of Use will be effective thirty (30) 
calendar days following either our dispatch of an e-mail notice to you. By using the App following the thirty (30) calendar days' 
notice you consent to any material amendments. Please note that, at all times, you are responsible for updating your personal 
information to provide us your current e-mail address. In the event that the last e-mail address that you have provided us is 
not valid, or for any other reason is not capable of delivering to you the notice described above, our dispatch of the e-mail 
containing such notice will nonetheless constitute effective notice of any amendment described in the notice.


</pre>
</html>